a:link,a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
body {margin-top:0;text-align:center;font:12px ו,Verdana,Geneva, "Arial", sans-serif;}
td,input,select,textarea {font-size:12px;}
p,td,form,ul,ol,li,dl,dd,h1,h2,h3,h4 {margin:0px;padding:0px;}
li {list-style:none;}
img {border:none;}
.hidden {display:none;}
.show {display:block;}
.hand {cursor:pointer;}
.btn {cursor:pointer;}
.fLt {float:left;}
.fRt {float:right;}
.clear {clear:both;font-size:1px;height:1px;}
#Wp {margin:0 auto 0 auto;width:760px;}
#MCol {width:760px;float:left;padding:5px 0;position:relative;}
#Wp.Big {width:963px;}
#Wp2 {width:100%;padding:5px 0;position:relative;float:left;background:#fff;text-align:left;}
#Hd,#Cn,#Ft,#Pp {width:100%;text-align:left;float:left;clear:both;}
#Log {width:178px;float:left;}
#Log a {height:80px;overflow:hidden;text-indent:-1px;display:block;}
#Ban {width:576px;float:right;}
#BT ul {width:100%;float:left;}
#BT li.fst {float:left;padding:0 0 0 5px;}
#BT li.lnk {float:left;padding:0 5px;}
#BT li.cal {padding:0 5px 0 0;float:right;}
.SubPage #BT li.cal {padding:0 10px 0 20px;}
#BM {padding:5px 0;float:left;clear:both;}
#BM ul {width:100%;float:left;clear:both;}
#BM li {float:left;}
#BM li.fst {width:10px;}
#BM li.lst {width:10px;float:right;}
#BT li#LstUpdate {float:left;padding:0 10px 0 5px;}
#BT li#BbsLink {padding-right:30px;}
#AddFavo {background:url(img0/ico_favorite.gif) no-repeat 0 -1px;}
#SetHome {background:url(img0/ico_home.gif) no-repeat 0 50%;}
#AddFavo a,#SetHome a {background:none;}
#Nav1 {background:url(img0/nav_ct.gif) repeat-x 0 0;}
#Nav1 li {height:30px;background:url(img0/nav_ico.gif) no-repeat 7px 3px;}
#Nav1 li a {padding:0 6px 0 23px;padding-top:9px;font-weight:bold;display:block;}
#Nav1 li a,#Nav1 li a:visited {color:#fff;background:inherit;}
#Nav1 li.fst {background:url(img0/nav_lt.gif) no-repeat 0 0;}
#Nav1 li.lst {background:url(img0/nav_rt.gif) no-repeat 100% 0;}
#Nav2 li {padding:0 3px 0 6px;line-height:26px;}
.SubPage #Nav2 li {padding:0 12px 0 0;}
.SubPage #Nav2 li.tit {padding:0 3px 0 6px;}
#Nav2 {background:url(img0/nav_ct.gif) repeat-x 0 100%;}
#Nav2 li.fst {padding:0 0 0 3px;background:url(img0/nav_lt.gif) no-repeat 0 100%;}
#Nav2 li.lst {padding:0;background:url(img0/nav_rt.gif) no-repeat 100% 100%;}
#Hot,#CS6 {font:12px ו,Verdana,Geneva, "Arial", sans-serif;}
#CT {width:574px;margin-bottom:12px;float:left;width:100%;}
#CTSo {margin-bottom:5px;float:right;}
#CTSo ul li {float:left;}
#SBtn,.SInp {width:100%;float:left;clear:both;}
#SBtn ul {width:100%;float:left;}
#SBtn li {line-height:20px;text-align:center;}
#SBtn li.fst {width:60px;padding-top:1px}
#SBtn li.btn {width:55px;}
#SBtn li.btn2 {width:56px;}
#SBtn li.lst {padding-left:10px;float:right;}
#SBtn li a {display:block;}
#SBtn li.lst a {display:inline;}
#CTSo,#CUrl {float:right;width:574px;}
#CTWh {float:left;width:170px;}
#SBtn li a {display:block;border-top:1px solid;line-height:20px;}
#SBtn li.btn2 a {font-weight:bold;display:block;border-top:2px solid;line-height:19px;}
#SInp {float:left;width:100%;border:1px solid;background-repeat:no-repeat;background-position:212px 0;}
#SInp li.fst {width:120px;height:34px;text-align:center;}
#SInp li.fst img {margin-top:6px}
#SInp li.inp {padding:7px 5px 0 0;}
#SInp li.inp .txt {width:214px;font-size:14px;border:1px solid;}
#SInp li.inp .btn {margin-top:-2px;margin-left:2px;margin-right:3px;padding-top:2px;letter-spacing:2px;border:1px solid;font-size:14px;}
#SInp li.key {width:170px;padding:11px 0 0 0;overflow:hidden;}
#SInp li.key a {padding:0 3px;}
#CS {width:170px;float:left;}
#CM {width:575px;float:right;}
.CS {float:left;clear:both;}
.CS {width:100%;}
.CM {width:100%;}
.Fav {text-align:right;padding-bottom:6px;}
#CT .CS {width:170px;}
#CT .CM {width:575px;}
#CM1 .tit a {float:left;}
#News {padding:6px 0 7px 0;margin-bottom:0;text-align:center}
.CM .tit ul {float:right;}
.CM .tit ul li {padding:3px 10px 0 5px;float:left;}
#Hot .txt li {line-height:19px;}
#Hot .txt {padding-bottom:1px;}
iframe#FrmUrl {width:574px;height:155px;}
#CT #Hot,#CT #CM1 {padding:0;margin:0}
.CS {padding-bottom:10px;}
#CS2,#CS3 {padding-bottom:11px;}
.CS .tit {width:100%;float:left;clear:both;border:1px solid;}
.CS .tit h2 {font-size:12px;padding:4px 1px 0 10px;float:left;}
.CS .tit a {padding:4px 5px 2px 5px;font-size:12px;display:block;float:right;}
.CS .txt {width:100%;border:1px solid;float:left;clear:both;}
.CS .txt ul {width:100%;float:left;clear:both;}
.CS .txt li {display:block;line-height:23px;float:left;}
.CS .txt .myselect {width:118px;}
#Hot {margin-bottom:0;padding-bottom:0;}
#Hot .tit {border:1px solid;}
#Hot .txt {border:1px solid;}
#Hot .txt iframe {height:180px;}
#Hot .txt ul {text-align:left;}
#Hot .txt li a.pic {padding:0px;display:block;}
#Hot .txt li a.pic img {width:56px;height:70px;}
.SubPage #Hot .txt li a.pic img {width:45px;height:70px;}
#Hot .txt ul.top {margin-top:1px}
#Hot .txt ul.top .p {width:36%;text-align:center}
#Hot .txt ul.top .t {width:64%;}
#Hot .txt ul.nor {margin-bottom:2px}
#Hot .txt ul.nor li {width:100%;clear:both;}
#SAd1 {padding:2px 0;border-top:1px dotted;float:left;}
#SAd1 li {float:left;width:50%;margin:1px 0 0 0;text-align:center;}
#CS1 .tit a.tit0 {font-weight:bold;padding:4px 1px 0 10px;float:left;}
#CS1 .txt {padding:2px 0;}
#CS2 .txt {padding:2px 0 4px 0;}
#CS2 table {width:100%;}
#CS2 td {padding:2px 0 0 3px;}
#CS2 td.op {text-align:right;}
#CS2 .InpTxt {width:100px;border:1px solid;}
#CS2 .Btn {width:44px;margin-left:2px;padding-top:2px;letter-spacing:2px;border:1px solid;}
#CS3 ul li {width:49%;text-align:center;}
#CS3 ul li a {display:block;}
#CS4 ul li {width:49%;}
#CS5 ul li {width:33%;}
#CS4 ul li a,#CS5 ul li a {display:block;text-align:center;}
#CS6 ul li {float:none;clear:both;padding-left:7px;}
#CB,.CB {width:100%;float:left;clear:both;}
.CB .tit {padding:10px 1px 10px 8px;float:left;}
.CB .txt {float:right;}
.CB .txt li {float:left;}
.CM {margin-bottom:7px;float:right;}
.CM .tit {width:100%;float:left;clear:both;}
.CM .tit h2 {width:88px;padding:3px 0;text-align:center;font-size:12px;float:left;}
.CM .txt {width:100%;float:left;clear:both;}
#CM1 {border:1px solid;}
#CM1 .tit a {width:88px;padding:3px 0 4px 0;display:block;text-align:center;}
#CM1 .tit a.cur {font-weight:bold;}
#CM1 .thelp {float:right;padding-right:5px;}
#CM1 .thelp a {width:auto;padding:3px 5px 4px 0;}
#CM2 {margin-bottom:12px;border:1px solid;}
#CM2 .txt ul {width:100%;float:left;clear:both;}
#CM2 .txt li {padding:1px 0 0 12px;float:left;display:block;}
#CM2 .txt li a {width:58px;height:22px;line-height:22px;display:block;overflow:hidden;}
#CM3 {border:1px solid;}
#CM3 dl {width:100%;float:left;clear:both;}
#CM3 dt {padding:0 0 0 9px;line-height:21px;float:left;letter-spacing:3px;}
#CM3 dt a.En {letter-spacing:0;margin-right:0;}
#CM3 dd {float:left;}
#CM3 dd.more {text-align:right;float:right;}
#CM3 dd a {padding:0 8px;line-height:21px;display:block;}

#Game {padding:3px 0;border:1px solid;}
#Game .txt {width:90%;}
#Game .txt li {width:75px;padding:2px 0;}
#CBSo {margin-top:8px;border:1px solid;}
#CBSo .tit .InpTxt {width:136px;}
#CBSo .tit .InpBtn {margin:0 5px;}
#CBSo .txt {width:65%;}
#CBSo .txt li {width:60px;}
#Report {margin-bottom:10px;padding:3px 0;border:1px solid;}
#Report .txt {width:85%;}
#Report .txt li {width:120px;padding:2px 0;}
#Ft {text-align:center;padding:5px 0;}
#FL {line-height:22px;}
#FL a.goback {font-size:14px;}
#FCL {width:450px;float:left;line-height:25px;margin-left:129px;}
#FCR {width:40px;float:left;}
#CUrl {width:100%;margin-bottom:0px;float:left;}
#CUrl li {float:left;}
#CUrl li a {width:114px;line-height:20px;text-align:center;display:block;}
#CBody {float:left;clear:both;width:100%;}
.SubPage .Cn2 #CS {float:right;padding-bottom:10px;}
.SubPage .Cn2 #CM {float:left;}
.SubPage .Cn3 #CS {display:none;}
.SubPage .Cn3 #CM {width:100%;}
.SubPage .Cn3 .UrlTit,.SubPage .Cn3 .UrlTxt {width:758px;}
.SubPage .Cn3 .UrlTxt ul li {width:20%;}
#SkinCtrl {position:absolute;border:1px solid #99BEEF;background:#fff;text-align:left;}
.OpH {background:#D2E4FC url(img/tit_bg.gif) repeat-x -1px;line-height:22px;float:left;width:320px;color:#0272C1;}
.OpH strong {float:left;padding:0 0 0 10px;font-weight:normal;}
.OpH .BtnClose {float:right;padding:0 3px 0 0;}
.OpF {padding:5px 0 10px 10px;clear:both;text-align:center;}
.OpF,.OpF a,.OpF a:visited {color:#999;}
.OpB {padding:5px 5px 4px 5px;clear:both;}
.OpB a:hover {font-weight:bold;}
.OpB ul {width:302px;padding:5px 0;border-bottom:1px #e0e0e0 solid;float:left;}
.OpB li {padding:3px 0;width:150px;float:left;}
.OpB li.chosed {background:url(img0/chosed.gif) no-repeat 13px 50%;}
.OpB li.chosed a {background:none;}
.OpB li a {display:block;padding-left:10px;}
#SkinTyp1 img {height:14px;margin-right:4px;border:1px solid #ccc;vertical-align:middle;}
#TreeMenu {padding:5px 0;}
#TreeData {padding-left:10px;}
#TreeMenu ul {float:none;}
#TreeMenu ul li {float:none;line-height:18px;padding:0;}
#TreeMenu .unum {font:11px Arial,Verdana,Geneva,sans-serif;}
#TreeMenu img.s {width:18px;height:20px;vertical-align:middle;}
#TreeMenu img.c {width:18px;height:16px;vertical-align:middle;}
#TreeMenu img.s {cursor:pointer;}
#TreeMenu ul li.open .s {background:url(tree/tree_open.gif) no-repeat 50% 2px;}
#TreeMenu ul li.close .s {background:url(tree/tree_close.gif) no-repeat 50% 2px;}
#TreeMenu ul li.close ul {margin:0px 0px 0px -80px;display:none;}
#TreeMenu ul li.child .c {background:url(tree/dot.gif) no-repeat 5px 5px;}
#TreeMenu ul li {padding-left:6px;}
#TreeMenu ul li li {padding-left:12px;}
#TreeMenu ul li li li {padding-left:12px;}
#Pp {padding:3px 0 1px 0;margin:0px;border-top:1px solid #dedede;font:12px Verdana, ו,Geneva, "Arial",sans-serif;}
#Pp .Link {float:right; margin:0 2px 0 0;background:url(img0/home.gif) no-repeat 3px 50%;}
#Pp .Link p {padding-left:23px;}
#Pp .Option {float:left;padding:0px;}
.SubPage #Pp {line-height:25px;}
#RtCol {float:right;text-align:left;width:190px;}
.RtWel {height:24px;line-height:24px;padding:0 5px 0 5px;text-align:center;}
.RtPB {width:100%;text-align:center;float:left;}
.RtPB ul li {float:left;width:63px;}
#PB1 {padding:14px 0 9px 0;}
#PB1 ul li {height:46px;}
.RtBox {border:1px solid;float:left;clear:both;}
.RtBox .Tit,.RtBox .Txt {width:186px;clear:both;}
.RtBox .Tit {border-bottom:1px solid;float:left;}
.RtBox .Tit h3 {padding:0 10px;font-size:12px;font-weight:bold;line-height:21px;float:left;}
.RtBox .Txt {text-align:center;}
.RtBox .Txt ul {text-align:left;}
.RtBox ul.X1 li {clear:both;line-height:21px;padding:0 0 0 10px;}
.RtBox ul.X2 {margin:0 auto;width:162px;}
.RtBox ul.X2 li {float:left;width:50%;line-height:22px;border-bottom:1px dotted;}
.RtBox ul.X2 li.lst {border:0;}
.RtBox .Tit a.more {padding:4px 5px 2px 5px;font-size:12px;display:block;float:right;}
#RtBox1 {margin-bottom:12px;}
#RtBox1 .Tit h3 {line-height:20px;}
#RtBox2 {margin-bottom:13px;}
.RTop .Txt {padding:2px 0 2px 0;}
#RtTop2,#RtTop3,#RtTop4 {border-top:0;}
#RtTop4 .Txt {padding:3px 0 3px 0;}
#FamUrl {padding:0 0 0 10px;float:left;text-align:left;}
#FamUrl ul li {width:14%;letter-spacing:0px;float:left;background:url(img2/skin2_dot.gif) no-repeat 0px 7px ;}
#FamUrl ul li a {color:#000;padding:0 0 0 10px;line-height:21px;display:block;border-bottom:1px dotted #dfdfdf}
body.CityGuide {margin:0;padding:0px 0 0 10px;background:#fff;}
#CityGuide {width:100%;text-align:left;}
#CityGuide ul li {width:14%;letter-spacing:0px;float:left;background:url(img2/skin2_dot.gif) no-repeat 0px 7px ;}
#CityGuide ul li a {color:#000;padding:0 0 0 10px;line-height:21px;display:block;}
#DirNav .tit h2 {padding:5px 1px 2px 10px;}
.UrlSort {margin-bottom:12px;float:right;border:1px solid;clear:both;}
.UrlTit,.UrlTxt {width:575px;float:left;clear:both;}
.UrlTit {border-bottom:1px solid;}
.UrlTit h2 {width:100px;padding:4px 0;text-align:center;font-size:12px;float:left;}
.UrlTit h2 .desc {font-weight:normal;}
.UrlTit .back {float:right;line-height:22px;padding-right:10px;}
.UrlTxt {text-align:center;}
.UrlTxt ul {margin-left:1px;text-align:left;clear:both;}
.UrlTxt ul li {float:left;width:143px;border-bottom:1px solid;overflow:hidden;height:21px;}
.UrlTxt ul li a {padding-left:12px;line-height:21px;}
.SoKeys {float:left;margin:0 0px 0px 0px;width:100%;}
.SoKeys dt {float:left;padding:5px 0 5px 13px;}
.SoKeys dt strong {font-weight:normal;}
.SoKeys dd {float:left;padding:5px 8px;}
.UrlTxt ul li.hot a:link {color:navy;}
.UrlTxt ul li.hot a:hover{color:red;}
.UrlTxt ul li.hot a:visited {color:navy;}
.Adv {width:100%;float:left;clear:both;}
.Ads_m {float:right;width:575px;}
.RtAd2 {clear:both;padding:11px 0 10px 0;text-align:center;}
#TopAds1 {margin:0 0 3px 0;padding:0 0 2px 0;}
#TopAds1 li a {line-height:15px;}
#tAds_s {padding:2px 0;border-top:1px solid #cdcdcd;border-bottom:1px dotted #cdcdcd;}
#tAds_s {width:170px;float:left;}
#tAds_s .AdsPic {float:left;}
#tAds_s .AdsTxt {float:right;width:125px;}
#tAds_s .AdsTxt li {padding:3px 0 2px 3px;}
#OrdSkin{padding-left:2px;color:#ccc;background:inherit;}
#OrdSkin a {background:none;display:inline;}
.CSAds {width:100%;clear:both;margin-top:10px;padding:0 0 10px 0;border:1px solid #eee;}
.CSAds p {text-align:center;padding:10px 0 0 0;}

/*GMNav*/
#CM2 #GMNav ul li a {width:58px;overflow:hidden;}
