a:link,a:visited {color:#000;}
a:hover {color:red;}
.InpTxt {border-color:#ccc;}

.MB1 {border-color:#d0e4fd;}
.MB1 a,
.MB1 a:visited {color:#07379f;}

.MB2 {background-color:#fff7d6;border-color:#ffcf5f;}


#SetHome {background-image:url(img/ico_home.gif);}
#AddFavo {background-image:url(img/ico_favorite.gif);}

/*Header*/
#TopNav,#TopNav .l,#TopNav .r {background-image:url(img/nav_bg.gif);}
.tNav1 a,.tNav1 a:visited {color:#fff;}
.tNav1 dd {background-image:url(img/nav_ico.gif);}

.BM1 {border-color:#f36a01;}
.BM1 .titBar {background-color:#fff7d6;}
.BM1 .titBar h3,
.BM1 .titBar .tabs li.active {background-color:#f36a01;color:#fff;background-image:url(img/tit_bg1.gif);}
.BM1 .titBar .tabs li a {border-right-color:#fff;border-left-color:#eee;}
.BM1 .titBar .tabs li.active a,
.BM1 .titBar .tabs li.active a:visited {color:#fff;border-color:#f78e01;}

.BM2 {border-color:#009cec;}
.BM2 .titBar {background-color:#e9f2ff;}
.BM2 .titBar h3 {background-color:#0092ec;color:#fff;background-image:url(img/tit_bg2.gif);}

.BM3 {border-color:#2fc300;}
.BM3 .titBar {background-color:#e2ffca;}
.BM3 .titBar h3 {background-color:#2fc300;color:#fff;background-image:url(img/tit_bg3.gif);}
.BM3 .bg0 {background-color:#fff;}
.BM3 .bg1 {background-color:#f2fee7;}

.SoForm {border-color:#FAAC02;background-color:#FFF7D6;background-image:url(img/tab_active_arrow.gif);}
.SoTab {background-image:url(img/line_3.gif);}
.SoTab li.tab a,
.SoTab li.lstTab {border-color:#e6e6e6 #ccc #ccc #ccc;}
.SoTab .active {background-color:#FAAC02;}
.SoTab .active a,
.SoTab .active a:visited {color:#fff;}
.SoForm .InpTxt {border-color:#333 #ccc #ccc #333;}
.SoForm .InpBtn {background-color:#FFCF5B;border-color:#eee #333 #333 #eee;}

/*名站导航*/
#clearHits a,
#clearHits a:visited {color:#f00;}
#hFamSite .txtBox ul.famUrl li {background-image:url(img/line_x1.gif);}
#hFamSite .txtBox ul.famUrl li a {background-image:url(img/skin2_dot.gif);}

/*网址分类*/
#hSiteCate .bg0 {background:#fff;}
#hSiteCate .bg1 {background:#f8f8ff;}
#hSiteCate ul li {background-image:url(img/icon_li_1.gif);}
#hSiteCate .titBar em a,
#hSiteCate .titBar em a:visited {color:#0072FF;}


/*实用酷站*/

/*游戏专题*/


/*综合搜索*/

#Report .txt li.goHome a,
#Report .txt li.goHome a:visited {color:#f00;font-weight:bold;}
/*分类网址列表*/
.urlTxt ul li {border-color:#eee;}


/*left:左侧栏目*/
.subBS .txtBox ul.Top li {border-color:#ccc;}

.BS1 {border-color:#ff9900;}
.BS1 .titBar {background-color:#fff7d6;}
.BS1 .titBar {background-color:#f90;background-image:url(img/tit_bg1.gif);}
.BS1 .titBar,
.BS1 .titBar a,
.BS1 .titBar a:visited {color:#fff;}
#MailLogin .InpBtn {background-color:#ffcf5b;border-color:#fff #85878c #85878c #fff;}

.BS1 .txtBox ul.Top li b {color:#ff9900;}

.BS1 .txtBox .bg1 {background-color:#fff9ee;}

/*热门话题*/
.subBS .txtBox a.fst,
.subBS .txtBox a.fst:visited {color:#f00;}

#sWeather {border-color:#ebe9ed;}
#sWeather .txtBox {border-color:#ebe9ed;background-color:#fff9ee;}

#Searches .inp .InpTxt {border-color:#709ebc;}
#Searches .inp .InpBtn {background-color:#fff;}

/*RtCol*/
.RtBox ul.Top li {border-color:#ccc;}
.RtBox ul.Top li.lst {border-color:#fff;}
.RtBox ul.Top li b {color:#999;}
.RtBox ul.TopX2 li {background-image:url(img/line_x1.gif);}
.RtBox ul.TopX2 li.lst {background-image:url(s.gif);}

.RB1 {border-color:#ff9400;}
.RB1 .titBar {background:#FFF7D6;background-image:url(img/tit_bg1.gif);}
.HomePage .RB1 .titBar {background-image:url(s.gif);}
.HomePage .RB1 .titBar,
.HomePage .RB1 .titBar em a,
.HomePage .RB1 .titBar em a visitied {color:#f60;}
.RB1 .titBar,
.RB1 .titBar a,
.RB1 .titBar a:visited {color:#ff9900;}

.RB2 {border-color:#009cec;}
.RB2 .titBar {background:#e9f2ff;color:#0072ff;}

.RB3,
.RB3 .subRtBox {border-color:#2fc300;}
.RB3 .titBar {background:#e2ffca;color:#6dbf00;}

.RB4 {border-color:#17cb00;}
.RB4 .titBar {background:#17cb00;background-image:url(img/tit_bg4.gif);}
.RB4 .titBar,
.RB4 .titBar a,
.RB4 .titBar a:visited {color:#fff;}

.RtBox .titBar a.more {color:#fff;}
.RtBox .titBar a.more,.RtBox .titBar a.more:visited {color:#F76900;background:inherit;}
.RtBox .titBar a.more:hover {color:#f00;background:inherit;}


/*临时*/



/*广告*/
#hSideAd1 {border-color:#FAAC02;}
#MidTxtAd ul.t a,
#MidTxtAd ul.t a:visited {color:#00f;}
#MidTxtAd ul.b a,
#MidTxtAd ul.b a:visited {color:#369;}

#SideAd1 .t a,
#SideAd1 .t a:visited {color:#00f;}
#SideAd1 .b a,
#SideAd1 .b a:visited {color:#369;}

