a:link,a:visited {color:#000;background:inherit;}
a:hover {color:red;background:inherit;}
#SAd1 li .a0 {color:#00f;}
#SAd1 li .a1 {color:#369;}
.CB .txt li a,.CB .txt li a:visited {color:#07379F;background:inherit;}
#Game {background:#f7f7f7;color:inherit;border-color:#D0E4FD;}
#CBSo {margin-top:8px;background:#FFF7D6;color:inherit;border-color:#FFCF5F;}
#CBSo .tit .InpBtn {background:#fff;color:inherit;}
#Report {background:#f7f7f7;color:inherit;border-color:#D0E4FD;}
#FL a,#FL a:visited {color:#030;background:inherit;}
#FL a.goback,#FL a.goback:visited {color:#00f;}
#CUrl li.t a,#CUrl li.t a:visited {color:#00f;}
#CUrl li.b a,#CUrl li.b a:visited {color:#369;}
.CS .tit {border-color:#FF9900;background:#FF9900;color:#fff;}
.CS .tit a {color:#fff;}
.CS .tit a,.CS .tit a:visited {background:inherit;}
.CS .tit a:hover {color:#f00;background:inherit;}
.CS .txt {border-color:#f90;}
.CS .txt .bg0 {background:#FFF9EE;color:inherit;}
.CS .txt .bg1 {background:#FFF7D6;color:inherit;}
#CTSo,#CUrl {float:right;width:574px;}
#SBtn ul {background:url( img2/line_3.gif) no-repeat 74px 0;}
#SBtn li a {background:none;border-top-color:#fff;}
#SBtn li.btn2 a {background:#FAAC02;color:#fff;border-top-color:#FAAC02;}
#SInp {border-color:#faac02;background-image:url(img/skin2_ico_arrow.gif);background-color:#FFF7d6;color:inherit;}
#SInp li.inp .txt {border-color:#474747 #fff #fff #474747;}
#SInp li.inp .btn {background:#FFCF5B;color:inherit;border-color:#fff #85878C #85878C #fff;}
#Hot .tit {background:#f36a01;color:#FFF;border-color:#f36a01;}
#Hot .tit a,#Hot .tit a:visited {color:#fff;}
#Hot .txt {background:#f7f7f7;color:inherit;border-color:#f36a01;}
#Hot .txt ul {background:#fcfcfc;color:inherit;}
#Hot .txt li a.fst {color:#f00;background:inherit;}
#Hot .txt li a.sec {color:#000;background:inherit;}
#SAd1 {background:#F7F7F7;border-color:#f36a01;}
#CS1 .tit a {color:#fff;background:inherit;}
#CS2 .tit a {color:#fff;background:inherit;}
#CS2 .InpTxt {border-color:#ccc;}
#CS2 .Btn {background:#FFCF5B;color:inherit;border-color:#fff #85878C #85878C #fff;}
.CM .tit h2 {color:#fff;background:inherit;}
#CM1 {border-color:#f36a01;}
#CM1 .tit {background:#fff7d6;}
#CM1 .tit h2 {color:#fff;background:#f36a01;}
#CM1 .tit a.cur {color:#fff;background:#f36a01;}
#CM2 {border-color:#0075EB;}
#CM2 .tit {background:#D2E4FC;color:inherit;}
#CM2 .tit h2 {background:#0075EB;color:#fff;}
#CM2 .tit ul a,#CM2 .tit ul a:visited {color:#0075EB;}
#CM2 .txt ul.bg0 {background:#fff;color:inherit;}
#CM2 .txt ul.bg1 {background:#F1F1FD;color:inherit;}
#CM2 .txt li a {background:url(img2/icon_li_1.gif) no-repeat 100% 50%;}
#CM3 {border-color:#74C200;}
#CM3 .tit {background:#D8FF9D;color:inherit;}
#CM3 .tit h2 {background:#74C200;color:#fff;}
#CM3 dl.bg0 {background:#fff;color:inherit;}
#CM3 dl.bg1 {background:#F5FEE7;color:inherit;}
#CM3 dt a {color:#030;background:inherit;}
#CM3 dt a:hover {color:#f00;background:inherit;}
.UrlSort {border-color:#FAAC02;}
.UrlTit {background:#fff7d6;border-color:#eee;color:inherit;}
.UrlTit h2 {color:#fff;background:#F36A01;}
.UrlTit h2 .desc {font-weight:normal;color:#f00;}
.UrlTxt ul li {border-color:#eee;}
.UrlTxt .commend {color:#f00;}
.SoKeys dt {color:#f60;}
.SoKeys dd a,.SoKeys dd a:visited {color:#0075EB;}
.RtBox {border-color:#FFAE00;}
.RtBox .Tit {border-color:#FFAE00;background:#FFF7D6;color:#F76900;}
.RtBox .Tit a.more {color:#fff;}
.RtBox .Tit a.more,.RtBox .Tit a.more:visited {color:#F76900;background:inherit;}
.RtBox .Tit a.more:hover {color:#f00;background:inherit;}
.RtBox ul.X2 li {border-color:#FFAE00;}
